{% extends 'state.html' %}

{% load staticfiles bootstrap3 humanize %}

{% block state-name %}
  North Carolina
{% endblock state-name %}

{% block state-subtitle %}
  Browse all known traffic stops to have occurred in North Carolina since
  {{ nc.start_date }}
{% endblock state-subtitle %}

{% block state-header-graphic %}
  <img src="{% static "svg/noun_19625_cc-white.svg" %}" class="state">
{% endblock state-header-graphic %}

{% block agency-intro %}
  <p class='agency-intro'>
    Review agency-level data on the race/ethnic composition demographics of
    people stopped, searched, and subjected to force in the course of traffic
    stops in a given jurisdiction.
  </p>

  <p class="agency-intro">
    <a href="{% url "nc:agency-list" %}">Click here</a> to browse a list of
    all agencies for which data is available.
  </p>
{% endblock agency-intro %}

{% block search-form %}
  <h4>View Agency Dashboard</h4>
  <form role="form" id="agency_search" action='{% url "nc:home" %}' method="get" accept-charset="utf-8">
      <div class="form-group">
      {% csrf_token %}
        <div class="input-group">
          {{ form.agency }}
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">View</button>
          </span>
        </div><!-- /input-group -->
      {% if form.agency.errors %}
          <div class="alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <ul>
              {% for error in form.agency.errors %}
                  <li><strong>{{ error }}</strong></li>
              {% endfor %}
              </ul>
          </div>
      {% endif %}
      </div>
  </form>
{% endblock search-form %}

{% block find-a-stop %}
  <p class="agency-intro">
    Use this feature to identify the stop and search patterns of individual
    police officers.  Search for North Carolina traffic stops using the form fields
    below. Use <a href='{% url 'nc:stops-search' %}'>Advanced Search</a>
    for additional filtering criteria.  When you
    have found the stop you are looking for, click the Officer ID hyperlink
    to review the data associated with the officer involved.
  </p>
  <form action="{% url 'nc:stops-search' %}" method="get" class="form row">
    <div class="col-md-12">
      {% bootstrap_field find_a_stop_form.agency %}
      <div class="row">
          <div class="col-md-6">{% bootstrap_field find_a_stop_form.start_date %}</div>
          <div class="col-md-6">{% bootstrap_field find_a_stop_form.end_date %}</div>
      </div>
      <div class="row">
          <div class="col-md-3">{% bootstrap_field find_a_stop_form.age %}</div>
          <div class="col-md-3">{% bootstrap_field find_a_stop_form.gender %}</div>
      </div>
      <div class="row">
          <div class="col-md-6">{% bootstrap_field find_a_stop_form.race %}</div>
          <div class="col-md-6">{% bootstrap_field find_a_stop_form.ethnicity %}</div>
      </div>
      {% buttons %}
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
      {% endbuttons %}
    </div>
  </form>
{% endblock find-a-stop %}

{% block agencies-table %}
  <table class='table table-condensed table-hover'>
    <tr>
      <th>City</th>
      <th class="text-right">Stops</th>
    </tr>
    {% for agency in nc.topagencyfacts_set.all %}
      <tr>
        <td><a href="{% url "nc:agency-detail" agency.agency_id %}">{{ agency.name }}</a></td>
        <td class="text-right">{{ agency.stops|intcomma }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock agencies-table %}

{% block about-text %}
  <p>
      Open Data Policing aggregates, visualizes, and publishes public
      records related to all known traffic stops to have occurred in North
      Carolina since {{ nc.start_date }}. Data is available
      for most North Carolina departments and officers serving populations
      greater than 10,000.
  </p>
  <p>
      North Carolina law requires all such agencies to report their data
      on a monthly basis to the NC Department of Justice; however, some
      datasets are incomplete or remain unreported.  Where data sets are
      incomplete or missing from the website it is because they have not
      been reported to the state agency from which the site derives its
      records. Open Data Policing does not have access to, nor does it
      publish, the names of officers, drivers, or passengers involved in
      traffic stops.
  </p>
{% endblock about-text %}

{% block dataset-facts %}
  <table class='table table-condensed table-hover'>
    <tr>
      <th>Timeframe</th>
      <td>{{ nc.start_date }} - {{ nc.end_date }}</td>
    </tr>
    <tr>
      <th>Stops</th>
      <td>{{ nc.total_stops|intcomma }}</td>
    </tr>
    <tr>
      <th>Searches</th>
      <td>{{ nc.total_searches|intcomma }}</td>
    </tr>
    <tr>
      <th>Agencies</th>
      <td>{{ nc.total_agencies|intcomma }}</td>
    </tr>
  </table>
{% endblock dataset-facts %}
