{% extends "agency_detail.html" %}

{% block census-display %}{% endblock census-display %}
{% block stop-display %}{% endblock stop-display %}
{% block search-rate-display %}{% endblock search-rate-display %}
{% block search-display %}{% endblock search-display %}
{% block lsb-display %}{% endblock lsb-display %}
{% block contraband-display %}{% endblock contraband-display %}
{% block use-of-force-display %}{% endblock use-of-force-display %}

{% block graph-code %}
{% comment %}<script>{% endcomment %}

console.log("{% url 'md:agency-api-stops' object.pk %}");

{% comment %}</script>{% endcomment %}
{% endblock graph-code %}
