{% extends "base.html" %}
{% load selectable_tags bootstrap3 el_pagination_tags humanize %}

{% block extra-js %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
    {{ form.media }}
    <script type="text/javascript">
        $(document).ready(function(){
            var $start = $("#id_start_date"),
                $end = $("#id_end_date"),
                now = new Date(),
                opts = {
                        minDate: new Date(MD.Stops.start_year, 0, 1),
                    maxDate: new Date(MD.Stops.end_year, 11, 31),
                    changeMonth: true,
                    changeYear: true,
                    yearRange: MD.Stops.start_year + ':' + MD.Stops.end_year,
                    dateFormat: "mm/dd/yy",
                };

            // add datepicker widgets
            $("#id_start_date").datepicker(_.extend(
               {defaultDate: new Date(now.getFullYear()-2, 0, 1)}, opts));
            $("#id_end_date").datepicker(_.extend(
               {defaultDate: new Date(now.getFullYear()-2, 11, 31)}, opts));

            // set new end-date whenever start-date changes
            $start.change(function(v){
                var start = $start.val(),
                    end = $end.val(),
                    newVal = end,
                    diff;
                try {
                    if ((Date.parse(end) - Date.parse(start)) < 0) newVal = start;
                } catch (e) {
                    newVal = end;
                }
                $end.val(newVal);
            });

            // set new start if end-date changes
            $end.change(function(v){
                var start = $start.val(),
                    end = $end.val(),
                    newVal = start,
                    diff;
                try {
                    if ((Date.parse(end) - Date.parse(start)) < 0) newVal = end;
                } catch (e) {
                    newVal = start;
                }
                $start.val(newVal);
            });
        });
    </script>
{% endblock extra-js %}

{% block title %}Find a Traffic Stop{% endblock %}

{% block content %}
{% paginate 30 stops %}
{% get_pages %}
{% bootstrap_messages %}
<div class="row">
    <div class="col-md-3">
        <form action="{% url 'md:stops-search' %}" method="get" class="form">
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-9">
        <h2>Stops ({{ pages.total_count|intcomma }} total)</h2>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>Age</th>
                <th>Agency</th>
                <th>Officer ID</th>
            </tr>
            {% for stop in stops %}
            <tr title='{{ person.stop.stop_id }}'>
                <td>{{ stop.date|date:"n/j/Y P" }}</td>
                <td>{{ stop.get_gender_display }}</td>
                <td>{{ stop.get_ethnicity_display }}</td>
                <td>{{ stop.age }}</td>
                <td><a href='{% url "nc:agency-detail" stop.agency_id %}'>{{ stop.agency_description|truncatewords:3 }}</a></td>
                <td><a href='{% url "nc:agency-detail" stop.agency_id %}?officer_id={{ stop.officer_id|urlencode }}'>{{ stop.officer_id }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
