[run]
branch = true
source = traffic_stops,nc,md,tsdata
omit = */tests/*, */migrations/*, */admin.py, */management/*, md/data/analyzer.py, md/data/scanner.py, traffic_stops/settings/*, traffic_stops/wsgi.py

[report]
show_missing = true
