*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
secrets.sls
traffic_stops.log
traffic_stops.log.1
reports
env
jmeter.log
.transifexrc
locale/en/
data/nc/*
_build
*.priv
*.cert
*.key
*.asc
.ipynb_checkpoints
.env
node_modules
*/static/js/bundle.js
*/static/css
secrets.tfvars
terraform.tfstate*
*.tar
*.tar.zip
mddata
ncdata
.idea/
mddata/
npm-debug.og
