{% extends "agency_detail.html" %}

{% load static from staticfiles %}

{% block agency-list-url %}{% url 'nc:agency-list' %}{% endblock agency-list-url %}

{% block search-url %}{% url 'nc:stops-search' %}{% endblock search-url %}

{% block race-selector %}
<span class="start" />
{% endblock race-selector %}

{% block census-link %}
<li id="census-link-item" class="optional"><a href="#demographics">Census Demographics</a></li>
{% endblock census-link %}

{% block census-display %}
  <!-- census data -->
  <div id="census_row" class="row optional">
    <div class="col-md-12 headline">
      <h2 id='demographics'>2010 census data</h2>
    </div>


    <div class="col-md-12">
      <h3>Driving Population (percentage by race/ethnicity)</h3>

      <p class="help-block">
        This graph reflects the racial composition of the jurisdiction at the
        time of the last census (2010). It is included for comparative purposes.
        The actual driving population within a given jurisdiction may vary
        significantly from census figures.
      </p>
    </div>

    <div class="col-md-4">
      <div class="pie-chart-container">
        <svg id="census_pie"></svg>
      </div>

      <p class="graph-help-block">
        Toggle on or off racial/ethnic groups.
      </p>
    </div>

    <div class="col-md-8">
      <h3>Tabular view of 2010 census data</h3>
      <br><br>
      <div id="census_data"></div>

      <!-- <p class="help-block">
        This data table reflects the jurisdiction's racial and ethnic
        composition at the time of the last census (2010). It is included for
        comparative purposes. The actual driving population within a given
        jurisdiction may vary significantly from census figures.
      </p> -->

    </div>
  </div>
{% endblock census-display %}

{% block stop-display %}
  <div class="row">
    <div class="col-md-12 headline">
      <h2 id="stop-percentage">Traffic Stops</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Traffic Stops (percentage by race/ethnicity)</h3>

      <p class="help-block">
        These graphs reflect the racial composition of drivers stopped by law
        enforcement officers in the jurisdiction since the department began
        reporting its data to the NC Department of Justice.
      </p>
    </div>

    <div class="col-md-4">
      <div class="pie-chart-container">
        <svg id="stop_race_pie"></svg>
      </div>

      <p class="graph-help-block">
        Adjusting the drop down menu will display the racial breakdown
        of stops on a year-by-year basis.
      </p>
    </div>

    <div id="stop_div" class="col-md-8 line-chart-container">
      <h4 class="graph-label">
        Longitudinal view of annual traffic stops
      </h4>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#stop_race_line_div" aria-controls="stop_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#stop_race_data" aria-controls="stop_race_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="stop_race_line_div">
            <svg id="stop_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="stop_race_data">
          </div>
        </div>

      </div>

      <p class="graph-help-block">
        Drag the cursor over the graph to see the racial/ethnic breakdown for
        any given year. Click the "Data" tab to review the actual raw counts
        from the NC Department of Justice.
      </p>

    </div>
  </div>
{% endblock stop-display %}

{% block search-rate-display %}
  <div class="row">
    <div class="col-md-12 headline">
      <h2 id="search-percentage-dept">{% if officer_id %}Officer{% else %}Departmental{% endif %} Search Rate</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Average {% if officer_id %}Officer{% else %}Departmental{% endif %} Search Rate For Vehicle Stops</h3>

      <p class="help-block">
        This graph is a longitudinal representation of the average departmental
        search rate for vehicle stops since the department began reporting its
        data to the NC Department of Justice.  The black line represents the
        overall search rate for all motorists.
      </p>
    </div>

    <div class="col-md-10">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#stop_search_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#stop_search_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="stop_search_line_div">
            <svg id="stop_search_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="stop_search_data">
          </div>
        </div>
      </div>

      <p class="graph-help-block">
        Drag the cursor over the graph to see the racial/ethnic breakdown for
        any given year.
        Click the "Data" tab to review the actual stop/search counts from the
        NC Department of Justice.
      </p>
    </div>
  </div>
{% endblock search-rate-display %}

{% block search-display %}
  <div class="row">
    <div class="col-md-12">
      <h3>Search Data by Race/Ethnicity</h3>

      <p class="help-block">
        These graphs reflect the racial composition of drivers searched by law
        enforcement officers in the jurisdiction since the department began
        reporting its data to the NC Department of Justice.
      </p>
    </div>

    <div class="col-md-4">
      <div class="pie-chart-container">
        <svg id="search_race_pie"></svg>
      </div>

      <p class="graph-help-block">
        Adjusting the drop down menu will display the racial
        breakdown of stops on a year-by-year basis.
      </p>
    </div>

    <div id="search_div" class="col-md-8 line-chart-container">
      <h4 class="graph-label">Longitudinal view of annual percent of search by race/ethnicity</h4>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#search_race_line_div" aria-controls="search_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#search_race_data" aria-controls="stop_race_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="search_race_line_div">
            <svg id="search_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="search_race_data">
          </div>
        </div>

        <p class="graph-help-block">
          Drag the cursor over the graph to see the racial/ethnic breakdown for
          any given year.
          Click the "Data" tab to review the actual raw counts from the
          NC Department of Justice.
        </p>
      </div>
    </div>
  </div>
{% endblock search-display %}

{% block lsb-display %}
  <div class="row">
    <div id="lhs_div" class="col-md-12">
      <h3>Likelihood of Search by "Stop Cause"</h3>

      <p class="help-block">
        This graph displays the relative statistical likelihood of one
        racial/ethnic group being searched as compared to another group for a
        given stop cause. Adjusting the drop down menu will display the relative
        likelihood of search relative to another racial group on a year-by-year
        basis.
      </p>
    </div>

    <div class="col-md-10">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#lsb_div" aria-controls="lsb_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#lsb_data" aria-controls="lsb_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="lsb_div">
            <svg id="lsb"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="lsb_data">
          </div>
        </div>
      </div>

      <p class="graph-help-block">
        Click the colored circles above the graph to display the
        comparisons between various racial and ethnic groups.
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>
    </div>
  </div>
{% endblock lsb-display %}

{% block contraband-display %}
  <div class="row">
    <div id="contraband_div" class="col-md-12">
      <h3>Contraband "Hit-Rate"</h3>

      <p class="help-block">
        This graph displays the percentage of searches that uncovered contraband
        for a given racial or ethnic group. Adjusting the drop down menu will
        display the hit rate on a year-by-year basis.
      </p>
    </div>

    <div class="col-md-10">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#chr_div" aria-controls="chr_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#chr_data" aria-controls="chr_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="chr_div">
            <svg id="chr"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="chr_data">
          </div>
        </div>
      </div>

      <p class="graph-help-block">
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>
    </div>
  </div>
{% endblock contraband-display %}

{% block use-of-force-display %}
  <!-- use-of-force data -->
  <div class="row">
    <div class="col-md-12">
      <h3>"Use-of-force" Data by Race/Ethnicity</h3>

      <p class="help-block">
        These graphs reflect the racial composition of drivers against whom law
        enforcement officers in the jurisdiction reported using force since the
        department began reporting its data to the NC Department of Justice.
      </p>
    </div>

    <div class="col-md-4">
      <div class="pie-chart-container">
        <svg id="use_force_race_pie"></svg>
      </div>

      <p class="graph-help-block">
        Adjusting the drop down menu will display the racial breakdown of
        use-of-force incidents on a year-by-year basis.
      </p>
    </div>

    <div id="use_force_div" class="col-md-8 line-chart-container">
      <h4>Longitudinal view of annual use-of-force by race/ethnicity</h4>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#use_force_race_line_div" aria-controls="use_force_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#use_force_race__data" aria-controls="use_force_race__data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="use_force_race_line_div">
            <svg id="use_force_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="use_force_race__data">
          </div>
        </div>

      </div>

      <p class="graph-help-block">
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>

    </div>
  </div>
{% endblock use-of-force-display %}

{% block graph-code %}
{% comment %}<script>{% endcomment %}

var showEthnicity = {{request.session.showEthnicity|lower|default:"false"}},
    census_handler = new NC.CensusHandler({url: "{% static 'js/census.temporary.json' %}", agency: "{{object}}"});
{% if officer_id %}
  // Retrieve data from API using data-handlers
  var stop_handler = new NC.StopsHandler({url: "{% url 'nc:agency-api-stops' object.pk %}?officer={{officer_id|urlencode}}"}),
      search_handler = new NC.SearchHandler({url: "{% url 'nc:agency-api-searches' object.pk %}?officer={{officer_id|urlencode}}"}),
      uf_handler = new NC.UseOfForceHandler({url: "{% url 'nc:agency-api-use-of-force' object.pk %}?officer={{officer_id|urlencode}}"}),
      lhs_handler = new NC.LikelihoodSearchHandler({url: "{% url 'nc:agency-api-stops-by-reason' object.pk %}?officer={{officer_id|urlencode}}"}),
      chr_handler = new NC.ContrabandHitRateHandler({url: "{% url 'nc:agency-api-contraband-hit-rate' object.pk %}?officer={{officer_id|urlencode}}"});
{% else %}
  // Retrieve data from API using data-handlers
  var stop_handler = new NC.StopsHandler({url: "{% url 'nc:agency-api-stops' object.pk %}"}),
      search_handler = new NC.SearchHandler({url: "{% url 'nc:agency-api-searches' object.pk %}"}),
      uf_handler = new NC.UseOfForceHandler({url: "{% url 'nc:agency-api-use-of-force' object.pk %}"}),
      lhs_handler = new NC.LikelihoodSearchHandler({url: "{% url 'nc:agency-api-stops-by-reason' object.pk %}"}),
      chr_handler = new NC.ContrabandHitRateHandler({url: "{% url 'nc:agency-api-contraband-hit-rate' object.pk %}"});
{% endif %}
var stop_search_handler = new NC.StopSearchHandler({handlers: [stop_handler, search_handler]});

new NC.CensusRatioDonut({handler: census_handler, selector: "#census_pie", showEthnicity: showEthnicity});
new NC.CensusTable({handler: census_handler, selector: "#census_data", showEthnicity: showEthnicity});

new NC.StopRatioDonut({handler: stop_handler, selector: "#stop_race_pie", showEthnicity: showEthnicity});
new NC.StopRatioTimeSeries({handler: stop_handler, selector: "#stop_race_line", showEthnicity: showEthnicity});
new NC.StopsTable({handler: stop_handler, selector: "#stop_race_data", showEthnicity: showEthnicity});

new NC.StopSearchTimeSeries({handler: stop_search_handler, selector: "#stop_search_line", showEthnicity: showEthnicity});
new NC.StopSearchTable({handler: stop_search_handler, selector: "#stop_search_data", showEthnicity: showEthnicity});

new NC.SearchRatioDonut({handler: search_handler, selector: "#search_race_pie", showEthnicity: showEthnicity});
new NC.SearchRatioTimeSeries({handler: search_handler, selector: "#search_race_line", showEthnicity: showEthnicity});
new NC.SearchTable({handler: search_handler, selector: "#search_race_data", showEthnicity: showEthnicity});

new NC.LikelihoodOfSearch({handler: lhs_handler, selector: "#lsb", showEthnicity: showEthnicity});
new NC.LikelihoodSearchTable({handler: lhs_handler, selector: "#lsb_data", showEthnicity: showEthnicity});

new NC.ContrabandHitRateBar({handler: chr_handler, selector: "#chr", showEthnicity: showEthnicity});
new NC.ContrabandTable({handler: chr_handler, selector: "#chr_data", showEthnicity: showEthnicity});

new NC.UseOfForceDonut({handler: uf_handler, selector: "#use_force_race_pie", showEthnicity: showEthnicity});
new NC.UseOfForceBarChart({handler: uf_handler, selector: "#use_force_race_line", showEthnicity: showEthnicity});
new NC.UseOfForceTable({handler: uf_handler, selector: "#use_force_race__data", showEthnicity: showEthnicity});

new NC.RaceToggle("{% url 'update_session' %}", showEthnicity).render($('span.start'));

{% comment %}</script>{% endcomment %}
{% endblock graph-code %}
