{% extends "base.html" %}

{% block body_id %}About{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>About this site</h2>
        <p>
            Open Data Policing is a project of the <a href="http://www.scsj.org">Southern Coalition for Social
            Justice</a>.  The site’s development team consists of attorney Ian Mance
            of the Southern Coalition; Colin Copeland, CTO of <a href="http://www.caktusgroup.com">Caktus Group</a>,
            and volunteer developers Andy Shapiro and Dylan Young of Durham, NC.
        </p>
    </div>
    <div class="row-fluid">
        <h2>Developer documentation</h2>
        <p>
            Documentation, source-code, and the full dataset are available <a href="http://nc-traffic-stops.readthedocs.org/">here</a>.
        </p>
    </div>
</div>
{% endblock %}
