{% extends "base.html" %}

{% block body_id %}About{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>About this site</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt urna non tortor suscipit, a cursus elit tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eros tellus, sollicitudin ac felis a, pellentesque efficitur nisi. Pellentesque consequat ipsum eu est tincidunt, quis vulputate odio feugiat. Maecenas feugiat viverra arcu, nec malesuada justo facilisis eu. Donec fringilla ligula sit amet est egestas tempus. Vestibulum et volutpat nulla.
        </p>
    </div>
    <div class="row-fluid">
        <h2>About the dataset</h2>
        <p>
            Donec suscipit vel justo vitae molestie. Aenean hendrerit eros purus, a fermentum mi consectetur a. Vestibulum cursus libero tristique metus egestas, a convallis lacus scelerisque. Quisque accumsan elit ante, vel commodo odio accumsan a. Vivamus sed porta libero. Nullam justo nulla, suscipit sit amet nibh id, accumsan consequat mi. Sed maximus, dui sed tempor bibendum, enim orci vulputate tortor, vel lobortis erat felis at mauris.
        </p>
    </div>
    <div class="row-fluid">
        <h2>Developer documentation</h2>
        <p>
            Documentation, source-code, and the full dataset are available on <a href="http://nc-traffic-stops.readthedocs.org/">read the docs</a>.
        </p>
    </div>
</div>
{% endblock %}
