{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
  {{block.super}} | {{object}}
{% endblock title %}

{% block content-outer %}

<div class="state-banner agency-detail">
  <div class="row vertical-align">
    <div class="col-xs-12">
      <a class="back" href="{% block agency-list-url %}{% endblock %}">◀ Back to "Find An Agency"</a>
    </div>
    <div class="col-sm-10 col-xs-12 title-container">
      <h1>{{ object }}{% if officer_id %}: officer {{officer_id}} {% endif %}</h1>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="btn brand" href="{% block search-url %}{% endblock search-url %}">Find a Stop</a>
    </div>
  </div>
</div>

<nav class="graphs-nav" id="graphs-nav">
  <ul class="nav">
    {% block census-link %}{% endblock census-link %}
    <li><a href="#stop-percentage">Stop Percentage</a></li>
    <li><a href="#search-percentage-dept">Departmental Search Rate</a></li>
  </ul>
  {% block race-selector %}{% endblock race-selector %}
</nav>

<div class="affix-padder"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12" role="main">
      {% block census-display %}{% endblock census-display %}
      {% block stop-display %}{% endblock stop-display %}
      {% block search-rate-display %}{% endblock search-rate-display %}
      {% block search-display %}{% endblock search-display %}
      {% block lsb-display %}{% endblock lsb-display %}
      {% block contraband-display %}{% endblock contraband-display %}
      {% block use-of-force-display %}{% endblock use-of-force-display %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra-css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra-js %}
  <!-- <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function(){
      {% block graph-code %}
      {% endblock graph-code %}

      $('body').scrollspy({ target: '#graphs-nav', offset: 50 });
      $('window').on('load', function () {
        $('body').scrollspy('refresh')
      });

      var $graphsNav = $('#graphs-nav');

      $graphsNav.affix({
        offset: {
          top: function () {
            return $('.state-banner').outerHeight() - $('.odp-nav').innerHeight()
          },
          bottom: function () {
            return $('.footer').outerHeight(true)
          }
        }
      });

    });
  </script>
{% endblock extra-js %}
