{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
  {{block.super}} | {{object}}
{% endblock title %}

{% block content-outer %}

<div class="state-banner affix-offset-top-pos agency-detail{% if officer_id %} officer{% endif %}">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-xs-12">
        <a class="back" href="{% block agency-list-url %}{% endblock %}">◀ Back to "Find An Agency"</a>
      </div>
      {% if officer_id %}
        <div class="col-sm-10 col-xs-12 title-container">
          <h1>Data for Officer Alias: {{officer_id}}</h1>
          <h2 class="officer">{{ object }}</h2>
        </div>
      {% else %}
        <div class="col-sm-10 col-xs-12 title-container">
          <h1>{{ object }}</h1>
        </div>
      {% endif %}
      <div class="col-sm-2 col-xs-12">
        <a class="btn brand pull-right" href="{% block search-url %}{% endblock search-url %}">Find a Stop</a>
      </div>
    </div>
  </div>
</div>

<nav class="graphs-nav affix-element" id="graphs-nav">
  <div class="container">
    <ul class="nav">
      {% block census-link %}{% endblock census-link %}
      <li><a href="#stop-percentage">Traffic Stops</a></li>
      <li><a href="#search-percentage-dept">{% if officer_id %}Officer{% else %}Departmental{% endif %} Search Rate</a></li>
    </ul>
    {% block race-selector %}{% endblock race-selector %}
  </div>
</nav>

<div class="affix-padder"></div>

<div class="container agency-detail">
  <div class="row">
    <div class="col-md-12" role="main">
      {% block census-display %}{% endblock census-display %}
      {% block stop-display %}{% endblock stop-display %}
      {% block stop-rate-display %}{% endblock stop-rate-display %}
      {% block search-rate-display %}{% endblock search-rate-display %}
      {% block search-display %}{% endblock search-display %}
      {% block lsb-display %}{% endblock lsb-display %}
      {% block contraband-display %}{% endblock contraband-display %}
      {% block use-of-force-display %}{% endblock use-of-force-display %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra-css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra-js %}
  <!-- <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function () {
      {% block graph-code %}
      {% endblock graph-code %}

      var $body = $('body');
      var $window = $(window);

      $body.scrollspy({ target: '#graphs-nav', offset: 50 });
      $window.on('load', function () {
        $body.scrollspy('refresh');
      });
    });
  </script>
{% endblock extra-js %}
