{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}
  {{block.super}} | {{object}}
{% endblock title %}

{% block content-outer %}

<div class="state-banner small">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-sm-10">
        <h1>{{ object }}{% if officer_id %}: officer {{officer_id}} {% endif %}</h1>
      </div>
      <div class="col-sm-2 hidden-xs">
        {% block state-img %}{% endblock state-img %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9" role="main">
      {% block census-display %}
      {% endblock census-display %}

      <hr>

      {% block stop-display %}
      {% endblock stop-display %}

      <hr>

      {% block search-rate-display %}
      {% endblock search-rate-display %}

      <hr>

      {% block search-display %}{% endblock search-display %}

      {% block lsb-display %}{% endblock lsb-display %}

      <hr>

      {% block contraband-display %}
      {% endblock contraband-display %}

      <hr>

      {% block use-of-force-display %}{% endblock use-of-force-display %}

    </div>
    <div class="col-md-3" role="complementary">
      <nav id="sidebar">
        <h5>{{ object }}{% if officer_id %}: officer {{officer_id}} {% endif %}</h5>
        <ul class="sidenav nav nav-pills nav-stacked">
          <li><a href="#demographics">Census Demographics</a></li>
          <li><a href="#stop-percentage">Stop Percentage</a></li>
          <li><a href="#search-percentage-dept">Departmental Search Rate</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block extra-css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra-js %}
  <!-- <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function(){
      {% block graph-code %}
      {% endblock graph-code %}

      $('body').scrollspy({ target: '#sidebar', offset: 60 });
      $('window').on('load', function () {
        $('body').scrollspy('refresh')
      });

      $('#sidebar').affix({
        offset: {
          top: function () {
            var offsetTop      = $('#sidebar').offset().top
            var sideBarMargin  = parseInt($('#sidebar').children(0).css('margin-top'), 10)
            var navOuterHeight = $('.odp-nav').height()
            return (this.top = offsetTop - navOuterHeight - sideBarMargin);
          },
          bottom: function () {
            return (this.bottom = $('.footer').outerHeight(true))
          }
        }
      });

    });
  </script>
{% endblock extra-js %}
