{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %}home{% endblock %}
{% block body_class %}navbar-inverse{% endblock %}

{% block content-outer %}

<div class="state-picker">
    <div class="container">
      <div class="row">
        <h1 class='title'>Open Data Policing</h1>
        <p class='tagline'>Search all known North Carolina and Maryland traffic stops</p>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
          <!-- <h2>North Carolina</h2> -->
          <img src="{% static "svg/noun_19625_cc-white.svg" %}" class="state nc">
          <p class='stop-count'>20+ million stops</p>
          <a href="{% url 'nc-home' %}" class="btn btn-default nc">Search NC</a>
        </div>
        <div class="col-sm-5 col-md-4">
          <!-- <h2>Maryland</h2> -->
          <img src="{% static "svg/noun_19618_cc-white.svg" %}" class="state md">
          <p class='stop-count'>6+ million stops</p>
          <a class="btn btn-default">Search MD</a>
        </div>
      </div>
    </div>
</div>

<div class="state-featurette">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <blockquote>
          <p>"This platform presents the information in a manner that increases the transparency of the Fayetteville Police Department and improves the community and police relationship."</p>
          <footer>Harold Medlock, Fayetteville Police Chief</footer>
        </blockquote>
      </div>
    </div>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-4">
        <h3>Feature A</h3>
        <p>
          Etiam at mollis nisi, a fringilla lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec placerat tempor felis, ac ullamcorper orci tincidunt viverra.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Feature B</h3>
        <p>
          Etiam malesuada, mauris vitae laoreet pulvinar, tortor eros egestas tellus, vehicula gravida tellus tellus euismod nisl. Cras consequat orci mi, efficitur finibus turpis ultricies nec.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Feature C</h3>
        <p>
          Sed egestas, nulla id sollicitudin lobortis, mi libero semper tellus, vel faucibus ligula libero at lectus. Morbi iaculis neque justo, at varius velit molestie quis.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>About OpenDataPolicing</h3>
        <p>
          Aenean ut sem a enim malesuada consectetur a et nulla. Pellentesque
          habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas. Phasellus ante metus, mattis sit amet fermentum vel,
          ornare eu ligula. Nulla vulputate eros eros, a consequat urna porta
          sed. Suspendisse potenti. Quisque cursus nunc in magna sollicitudin
          consectetur.
        </p>
        <p>
          Sed in pellentesque purus. Integer aliquet ligula vulputate magna
          rutrum, et suscipit nisl euismod. Nullam ornare fermentum eros, eu
          finibus sem consequat sit amet. Donec ligula mi, venenatis nec ligula
          ac, maximus tristique odio. In varius, turpis vitae viverra
          pellentesque, ante tortor condimentum tellus, vel viverra sapien
          ligula non mi.
        </p>
      </div>
      <div class="col-sm-3">
        <h3>Donate</h3>
        <p>
          Sed in pellentesque purus. Integer aliquet ligula vulputate magna
          rutrum, et suscipit nisl euismod.
          <ul class="links list-unstyled">
            <li><a href="#">Donate</a></li>
          </ul>
        </p>
      </div>
      <div class="col-sm-3">
        <h3>Connect</h3>
        <ul class="links list-unstyled">
          <li><a href="#">Email</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
