{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %}home{% endblock %}
{% block body_class %}navbar-inverse{% endblock %}

{% block content-outer %}

<div class="state-picker">
    <div class="container">
      <div class="row">
        <h1 class='title'>Open Data Policing</h1>
        <p class='tagline'>Search all known North Carolina, Maryland, and Illinois traffic stops</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <!-- <h2>North Carolina</h2> -->
          <img src="{% static "svg/noun_19625_cc-white.svg" %}" class="state nc">
          <p class='stop-count'>20+ million stops</p>
          <a href="{% url 'nc:home' %}" class="btn btn-default nc">Search NC</a>
        </div>
        <div class="col-sm-4">
          <!-- <h2>Maryland</h2> -->
          <img src="{% static "svg/noun_19618_cc-white.svg" %}" class="state md">
          <p class='stop-count'>2+ million stops</p>
          <a href="{% url 'md:home' %}" class="btn btn-default md">Search MD</a>
        </div>
        <div class="col-sm-4">
          <!-- <h2>Illinois</h2> -->
          <img src="{% static "svg/noun_648290_cc.svg" %}" class="state il">
          <p class='stop-count'>23+ million stops</p>
          <a href="{% url 'il:home' %}" class="btn btn-default">Search IL</a>
        </div>
      </div>
    </div>
</div>

<div class="state-featurette">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <blockquote>
          <p>“This platform presents the information in a manner that increases
              the transparency of the Fayetteville Police Department and
              improves the community and police relationship.”</p>
          <footer>Harold Medlock, Fayetteville Police Chief</footer>
        </blockquote>
      </div>
    </div>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-4">
        <h3>Locate an Officer's Career Stop and Search History</h3>
        <p class="justify">
          Stopped by the police? Use our “Find a Stop” feature to locate your
            traffic stop. Click on the associated Officer ID number to display
            the enforcement history of the officer who stopped you. Maryland
            data includes an officer’s stop, search, and contraband seizure data,
            broken down by race and ethnicity. North Carolina data includes
            these features in addition to use-of-force data (traffic stops only).
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Review Departmental Enforcement Patterns</h3>
        <p class="justify">
          Learn more about the enforcement patterns of individual police
            agencies. Metrics include stops, searches, search rates, contraband
            seizure rates, and the likelihood of search for individual stop
            causes—each broken down by race and ethnicity. Click on the
            “Agencies” tab to review who is stopped and searched in a given
            jurisdiction and how enforcement patterns compare to local
            demographics, displayed through the most recently available census
            data.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Compare Enforcement Practices Among Officers and Jurisdictions</h3>
        <p class="justify">
          Our platform allows users—including those in police management—to
            easily compare enforcement patterns among individual officers and
            agencies, evaluate the frequency and efficiency of searches, and
            monitor for racially disparate enforcement practices.  Police
            managers who possess a master list of Officer ID codes can bypass
            the “Find a Stop” page to directly access data on individual
            officers under their command.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="about-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 justify">
        <h3>About Open Data Policing</h3>
        <p>
          Open Data Policing is a first-of-its-kind platform that aims to make
            real the recommendation of the President’s Task Force on 21st
            Century Policing to make stop, search, and use-of-force
            “data...publicly available to ensure transparency.”  The site currently
            aggregates, visualizes, and publishes public records related to all
            known traffic stops to have occurred in North Carolina since 2002, in
            Maryland since 2013, and in Illinois since 2005.  Data is collected in all states pursuant
            to mandatory data collection statutes and reported monthly to the NC
            State Bureau of Investigation, Maryland State Police, and Illinois State Police.
            The platform does not alter or manipulate raw data.  Where data sets
            are incomplete or missing, it is because they have not been reported
            to the state agency from which the site derives its records.
            Although the site permits users to identify the career enforcement
            patterns of individual officers associated with known traffic stops,
            <b>Open Data Policing does not have access to, nor does it publish,
                the names or drivers, passengers, or officers involved in
                traffic stops.</b>
        </p>

      </div>
      <div class="col-sm-3 justify">
        <h3>Donate</h3>
        <p>
          Open Data Policing is a project of the Southern Coalition for Social
            Justice.  To support the work of the Open Data Policing initiative,
            click here.
          <ul class="links list-unstyled">
            <li><a href="https://www.southerncoalition.org/donate-bloomerang/">Donate</a></li>
          </ul>
        </p>
      </div>
      <div class="col-sm-3">
        <h3>Connect</h3>
        <ul class="links list-unstyled">
          <li><a href="http://www.southerncoalition.org/contact-us/">Contact Us</a></li>
          <li><a href="http://twitter.com/scsj">Twitter</a></li>
          <li><a href="http://facebook.com/southerncoalition">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
