{% extends "base.html" %}
{% load selectable_tags staticfiles %}

{% block body_id %}state{% endblock %}

{% block extra-css %}
    {% include_ui_theme %}
    {{ agency_form.media.css }}
{% endblock %}

{% block extra-js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
{{ agency_form.media.js }}
<script type="text/javascript">
    $(document).ready(function() {
        var quick_search = $('#agency_search :input[name=agency_0]');
        quick_search.bind('djselectableselect', function(event, ui) {
            $(this).parents("form").submit();
        });
    });
</script>
{% endblock %}

{% block content-outer %}

<div class="state-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h1>North Carolina</h1>
        <p>
          Browse all known traffic stops to have occurred in North Carolina since
          January 1, 2002
        </p>
      </div>
      <div class="col-md-4 col-sm-6 hidden-xs">
        <img src="{% static "svg/noun_19625_cc-white.svg" %}" class="state">
      </div>
    </div>
  </div>
</div>

<div class="agency-dashboard-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h2>Agencies</h2>
        <p class='nc-agency-intro'>
          Review agency-level data on the racial and ethnic demographics of people
          stopped, searched, and subjected to force in the course of traffic stops
          in a given jurisdiction.
        </p>
        <h4>Largest Cities</h4>
        <table class='table table-condensed table-hover'>
          <tr>
            <th>City</th>
            <th>Stops</th>
          </tr>
          <tr>
            <td><a href="{% url "agency-detail" "192" %}">NC State Highway Patrol</a></td>
            <td class="text-right">9,474,397</td>
          </tr>
          <tr>
            <td><a href="{% url "agency-detail" "51" %}">Charlotte-Mecklenburg Police Department</a></td>
            <td class="text-right">1,628,374</td>
          </tr>
          <tr>
            <td><a href="{% url "agency-detail" "223" %}">Raleigh Police Department</a></td>
            <td class="text-right">870,245</td>
          </tr>
          <tr>
            <td><a href="{% url "agency-detail" "104" %}">Greensboro Police Department</a></td>
            <td class="text-right">569,612</td>
          </tr>
          <tr>
            <td><a href="{% url "agency-detail" "104" %}">Winston-Salem Police Department</a></td>
            <td class="text-right">452,352</td>
          </tr>
        </table>
        <h4>View Agency Dashboard</h4>
        <form role="form" id="agency_search" action='{% url "nc-home" %}' method="get" accept-charset="utf-8">
            <div class="form-group">
            {% csrf_token %}
            <div class="input-group">
              {{ agency_form.agency }}
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">View</button>
              </span>
            </div><!-- /input-group -->
            {% if agency_form.agency.errors %}
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <ul>
                    {% for error in agency_form.agency.errors %}
                        <li><strong>{{ error }}</strong></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </form>
      </div>
      <div class="col-sm-7">
        <h2>About</h2>
        <p>
            Open Data Policing aggregates, visualizes, and publishes public
            records related to all known traffic stops to have occurred in North
            Carolina since January 1, 2002. Data is available for most
            North Carolina departments and officers serving populations greater
            than 10,000.
        </p>
        <p>
            North Carolina law requires all such agencies to report their data
            on a monthly basis to the NC Department of Justice; however, some
            datasets are incomplete or remain unreported.  Where data sets are
            incomplete or missing from the website it is because they have not
            been reported to the state agency from which the site derives its
            records. Open Data Policing does not have access to, nor does it
            publish, the names of officers, drivers, or passengers involved in
            traffic stops.
        </p>
        <h4>Dataset Facts</h4>
        <table class='table table-condensed table-hover'>
          <tr>
            <th>Timeframe</th>
            <td>Jan 4 2002 - Dec 13, 2015</td>
          </tr>
          <tr>
            <th>Stops</th>
            <td>20,462,591</td>
          </tr>
          <tr>
            <th>Searches</th>
            <td>2,196,298</td>
          </tr>
          <tr>
            <th>Agencies</th>
            <td>311</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
