{% extends "base.html" %}
{% load humanize %}

{% block title %}
  {{block.super}} | {{object}}
{% endblock title %}

{% block content %}

  <h1>{{ object }}{% if officer_id %}: officer {{officer_id}} {% endif %}</h1>

  <!-- census data -->
  <div id="census_row" class="row">
    <div class="col-md-12">
      <h2>2010 census data</h2>
    </div>

    <div class="col-md-4">
      <h3>Percentage by race/ethnicity</h3>
      <svg id="census_pie"></svg>

      <p class="help-block">
        This graph reflects the racial composition of the jurisdiction at the
        time of the last census (2010). It is included for comparative purposes.
        The actual driving population within a given jurisdiction may vary
        significantly from census figures.
      </p>
    </div>

    <div class="col-md-8">
      <h3>Data table</h3>
      <br><br>
      <div id="census_data"></div>

      <p class="help-block">
        This data table reflects the jurisdiction's racial and ethnic
        composition at the time of the last census (2010). It is included for
        comparative purposes. The actual driving population within a given
        jurisdiction may vary significantly from census figures.
      </p>

    </div>
  </div>
  <hr>

  <!-- stop data -->
  <div class="row">
    <div class="col-md-12">
      <h2>Stops data</h2>
    </div>

    <div class="col-md-4">
      <h3>Stops by race/ethnicity</h3>

      <div>
        <svg id="stop_race_pie"></svg>
      </div>

      <p class="help-block">
        This graph reflects the racial composition of drivers stopped by law
        enforcement officers in the jurisdiction since the department began
        reporting its data to the NC Department of Justice. Adjusting the drop
        down menu will display the racial breakdown of stops on a year-by-year
        basis.
      </p>
    </div>

    <div id="stop_div" class="col-md-8">
      <h3>Annual percent of stops by race/ethnicity</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#stop_race_line_div" aria-controls="stop_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#stop_race_data" aria-controls="stop_race_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="stop_race_line_div">
            <svg id="stop_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="stop_race_data">
          </div>
        </div>

      </div>

      <p class="help-block">
        This graph is a longitudinal representation of the racial and ethnic
        composition of drivers stopped by the department since it began
        reporting its data to the NC Department of Justice. Drag the cursor
        over the graph to see the racial/ethnic breakdown for any given year.
        <br><br>
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>

    </div>
  </div>
  <hr>

  <!-- Fraction of stops searched -->
  <div class="row">
     <div class="col-md-offset-2 col-md-8">
      <h3>{% if officer_id %}Officer{% else %}Departmental{% endif %} search rate</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#stop_search_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#stop_search_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="stop_search_line_div">
            <svg id="stop_search_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="stop_search_data">
          </div>
        </div>

      </div>

      <p class="help-block">
        This chart is a longitudinal representation of the average departmental
        search rate for vehicle stops since the department began reporting its
        data to the NC Department of Justice.  The black line represents the
        overall search rate for all motorists.
        <br><br>
        Click the "Data" tab to review the actual stop/search counts from the
        NC Department of Justice.
      </p>
    </div>
  </div>
  <hr>

  <!-- search data -->
  <div class="row">
    <div class="col-md-12">
      <h2>Search data</h2>
    </div>

    <div class="col-md-4">
      <h3>Search by race/ethnicity</h3>

      <div>
        <svg id="search_race_pie"></svg>
      </div>

      <p class="help-block">
        This graph reflects the racial composition of drivers searched by law
        enforcement officers in the jurisdiction since the department began
        reporting its data to the NC Department of Justice. Adjusting the drop
        down menu will display the racial breakdown of stops on a year-by-year
        basis.
      </p>
    </div>

    <div id="search_div" class="col-md-8">
      <h3>Annual percent of search by race/ethnicity</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#search_race_line_div" aria-controls="search_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#search_race_data" aria-controls="stop_race_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="search_race_line_div">
            <svg id="search_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="search_race_data">
          </div>
        </div>

        <p class="help-block">
          This graph is a longitudinal representation of the racial and ethnic
          composition of drivers searched by the department since it began
          reporting its data to the NC Department of Justice. Drag the cursor
          over the graph to see the racial/ethnic breakdown for any given year.
          <br><br>
          Click the "Data" tab to review the actual raw counts from the
          NC Department of Justice.
        </p>

      </div>

    </div>
  </div>

  <div class="row">
    <div id="lhs_div" class="col-md-offset-2 col-md-8">
      <h3>Likelihood of search by stop-cause</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#lsb_div" aria-controls="lsb_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#lsb_data" aria-controls="lsb_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="lsb_div">
            <svg id="lsb"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="lsb_data">
          </div>
        </div>

      </div>

      <p class="help-block">
        This chart displays the relative statistical likelihood of one
        racial/ethnic group being searched as compared to another group for a
        given stop cause. Adjusting the drop down menu will display the relative
        likelihood of search relative to another racial group on a year-by-year
        basis. Click the colored circles above the graph to display the
        comparisons between various racial and ethnic groups.
        <br><br>
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>

    </div>
  </div>
  <hr>

  <div class="row">
    <div id="contraband_div" class="col-md-offset-2 col-md-8">
      <h3>Contraband hit-rate</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#chr_div" aria-controls="chr_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#chr_data" aria-controls="chr_data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="chr_div">
            <svg id="chr"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="chr_data">
          </div>
        </div>

      </div>

      <p class="help-block">
        This chart displays the percentage of searches that uncovered contraband
        for a given racial or ethnic group. Adjusting the drop down menu will
        display the hit rate on a year-by-year basis.
        <br><br>
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>

    </div>
  </div>
  <hr>

  <!-- use-of-force data -->
  <div class="row">
    <div class="col-md-12">
      <h2>Use-of-force data</h2>
    </div>

    <div class="col-md-4">
      <h3>Use-of-force by race/ethnicity</h3>

      <div>
        <svg id="use_force_race_pie"></svg>
      </div>

      <p class="help-block">
        This graph reflects the racial composition of drivers against whom law
        enforcement officers in the jurisdiction reported using force since the
        department began reporting its data to the NC Department of Justice.
        Adjusting the drop down menu will display the racial breakdown of
        use-of-force incidents on a year-by-year basis.
      </p>
    </div>

    <div id="use_force_div" class="col-md-8">
      <h3>Annual use-of-force by race/ethnicity</h3>

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#use_force_race_line_div" aria-controls="use_force_race_line_div" role="tab" data-toggle="tab">Chart</a></li>
          <li role="presentation">
            <a href="#use_force_race__data" aria-controls="use_force_race__data" role="tab" data-toggle="tab">Data</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="use_force_race_line_div">
            <svg id="use_force_race_line"></svg>
          </div>
          <div role="tabpanel" class="tab-pane" id="use_force_race__data">
          </div>
        </div>

      </div>

      <p class="help-block">
        This graph is a longitudinal representation of the racial and ethnic
        composition of drivers against whom law enforcement officers in the
        jurisdiction reported using force since the department began reporting
        its data to the NC Department of Justice. Drag the cursor over the
        graph to see the racial/ethnic breakdown for any given year.
        <br><br>
        Click the "Data" tab to review the actual raw counts from the
        NC Department of Justice.
      </p>

    </div>
  </div>

{% endblock %}

{% block extra-css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra-js %}
  <!-- <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  <script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function(){
      var showEthnicity = {{request.session.showEthnicity|lower|default:"false"}},
          census_handler = new CensusHandler({url: "{{ STATIC_URL }}js/census.temporary.json", agency: "{{object}}"});
      {% if officer_id %}
        // Retrieve data from API using data-handlers
        var stop_handler = new StopsHandler({url: "{% url 'agency-api-stops' object.pk %}?officer={{officer_id|urlencode}}"}),
            search_handler = new SearchHandler({url: "{% url 'agency-api-searches' object.pk %}?officer={{officer_id|urlencode}}"}),
            uf_handler = new UseOfForceHandler({url: "{% url 'agency-api-use-of-force' object.pk %}?officer={{officer_id|urlencode}}"}),
            lhs_handler = new LikelihoodSearchHandler({url: "{% url 'agency-api-stops-by-reason' object.pk %}?officer={{officer_id|urlencode}}"}),
            chr_handler = new ContrabandHitRateHandler({url: "{% url 'agency-api-contraband-hit-rate' object.pk %}?officer={{officer_id|urlencode}}"});
      {% else %}
        // Retrieve data from API using data-handlers
        var stop_handler = new StopsHandler({url: "{% url 'agency-api-stops' object.pk %}"}),
            search_handler = new SearchHandler({url: "{% url 'agency-api-searches' object.pk %}"}),
            uf_handler = new UseOfForceHandler({url: "{% url 'agency-api-use-of-force' object.pk %}"}),
            lhs_handler = new LikelihoodSearchHandler({url: "{% url 'agency-api-stops-by-reason' object.pk %}"}),
            chr_handler = new ContrabandHitRateHandler({url: "{% url 'agency-api-contraband-hit-rate' object.pk %}"});
      {% endif %}
      var stop_search_handler = new StopSearchHandler({handlers: [stop_handler, search_handler]});

      new CensusRatioDonut({handler: census_handler, selector: "#census_pie", showEthnicity: showEthnicity});
      new CensusTable({handler: census_handler, selector: "#census_data", showEthnicity: showEthnicity});

      new StopRatioDonut({handler: stop_handler, selector: "#stop_race_pie", showEthnicity: showEthnicity});
      new StopRatioTimeSeries({handler: stop_handler, selector: "#stop_race_line", showEthnicity: showEthnicity});
      new StopsTable({handler: stop_handler, selector: "#stop_race_data", showEthnicity: showEthnicity});

      new StopSearchTimeSeries({handler: stop_search_handler, selector: "#stop_search_line", showEthnicity: showEthnicity});
      new StopSearchTable({handler: stop_search_handler, selector: "#stop_search_data", showEthnicity: showEthnicity});

      new SearchRatioDonut({handler: search_handler, selector: "#search_race_pie", showEthnicity: showEthnicity});
      new SearchRatioTimeSeries({handler: search_handler, selector: "#search_race_line", showEthnicity: showEthnicity});
      new SearchTable({handler: search_handler, selector: "#search_race_data", showEthnicity: showEthnicity});

      new LikelihoodOfSearch({handler: lhs_handler, selector: "#lsb", showEthnicity: showEthnicity});
      new LikelihoodSearchTable({handler: lhs_handler, selector: "#lsb_data", showEthnicity: showEthnicity});

      new ContrabandHitRateBar({handler: chr_handler, selector: "#chr", showEthnicity: showEthnicity});
      new ContrabandTable({handler: chr_handler, selector: "#chr_data", showEthnicity: showEthnicity});

      new UseOfForceDonut({handler: uf_handler, selector: "#use_force_race_pie", showEthnicity: showEthnicity});
      new UseOfForceBarChart({handler: uf_handler, selector: "#use_force_race_line", showEthnicity: showEthnicity});
      new UseOfForceTable({handler: uf_handler, selector: "#use_force_race__data", showEthnicity: showEthnicity});

      new RaceToggle("{% url 'update_session' %}", showEthnicity).render($('h1'));

    });
  </script>
{% endblock extra-js %}
