{% extends "base.html" %}
{% load humanize %}

{% block title %}
  {{block.super}} | {{object}}
{% endblock title %}

{% block content %}

  <h2>{{ object }}</h2>

  <!-- stop data -->
  <div class="row">
    <h2>Stops data</h2>

    <div class="col-md-4">
      <h3>Fraction of stops by race</h3>

      <div>
        <svg id="stop_race_pie"></svg>
      </div>

      <p class="help-block">
        Pie chart showing the annual average stop-ratio by
        race, in pie-chart format.
      </p>
    </div>

    <div class="col-md-8">
      <h3>Annual percent of stops by race</h3>

      <div>
        <svg id="stop_race_line"></svg>
      </div>

      <p class="help-block">
        These lines will add up to 100%. Note that this shows by race and not
        by ethnicity; a feature will be added to show by ethnicity globally for
        all plots. Another feature we plan to add will allow a data-table to
        be created, to present the underlying data behind the plots.
      </p>
    </div>
  </div>
  <hr>

  <!-- search data -->
  <div class="row">
    <h2>Search data</h2>

    <div class="col-md-4">
      <h3>Fraction of search by race</h3>

      <div>
        <svg id="search_race_pie"></svg>
      </div>

      <p class="help-block">
        Pie chart showing the annual average search-ratio by
        race, in pie-chart format.
      </p>
    </div>

    <div class="col-md-8">
      <h3>Annual percent of search by race</h3>

      <div>
        <svg id="search_race_line"></svg>
      </div>

      <p class="help-block">
        These lines will add up to 100%. Note that this shows by race and not
        by ethnicity; a feature will be added to show by ethnicity globally for
        all plots. Another feature we plan to add will allow a data-table to
        be created, to present the underlying data behind the plots.
      </p>
    </div>
  </div>

  {% comment %}
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h3>Likelihood of search by stop-cause</h3>

      <div>
        <svg id="lsb"></svg>
      </div>

      <p class="help-block">
        Likelihood of search by various stop-causes.
      </p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h3>Contraband hit-rate</h3>

      <div>
        <svg id="chr"></svg>
      </div>

      <p class="help-block">
        Bar chart of percent of total searches where ANY contraband was found is reported, stratified by race/ethnicity.
      </p>
    </div>
  </div>
  <hr>
  {% endcomment %}

  <!-- use-of-force data -->
  <div class="row">
    <h2>Use-of-force data</h2>

    <div class="col-md-4">
      <h3>Fraction of use-of-force by race</h3>

      <div>
        <svg id="use_force_race_pie"></svg>
      </div>

      <p class="help-block">
        Pie chart showing the annual average use-of-force-ratio by
        race, in pie-chart format.
      </p>
    </div>

    <div class="col-md-8">
      <h3>Annual percent of use-of-force by race</h3>

      <div>
        <svg id="use_force_race_line"></svg>
      </div>

      <p class="help-block">
        These lines will add up to 100%. Note that this shows by race and not
        by ethnicity; a feature will be added to show by ethnicity globally for
        all plots. Another feature we plan to add will allow a data-table to
        be created, to present the underlying data behind the plots.
      </p>
    </div>
  </div>

  <!-- officer pages -->
  <div class="row">
    <h3>Officers ({{ officers.count|intcomma }} total)</h3>
    <ul>
      {% for officer in officers %}
      <li><a href="{% url 'stops-search' %}?agency={{ object.name }}&officer={{ officer.officer_id }}">{{ officer.officer_id }} ({{ officer.total_stops|intcomma }})</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block extra-js %}
  <script type="text/javascript">
    $(document).ready(function(){

      // Retrieve data from API using data-handlers
      var stop_handler = new StopsHandler({url: "{% url 'agency-api-stops' object.pk %}"}),
          search_handler = new SearchHandler({url: "{% url 'agency-api-searches' object.pk %}"}),
          uf_handler = new UseOfForceHandler({url: "{% url 'agency-api-use-of-force' object.pk %}"});

      // Create plots for each data-type
      new StopRatioDonut({handler: stop_handler, selector: "#stop_race_pie"}),
      new StopRatioTimeSeries({handler: stop_handler, selector: "#stop_race_line"});

      new SearchRatioDonut({handler: search_handler, selector: "#search_race_pie"}),
      new SearchRatioTimeSeries({handler: search_handler, selector: "#search_race_line"});

      new UseOfForceDonut({handler: uf_handler, selector: "#use_force_race_pie"}),
      new UseOfForceTimeSeries({handler: uf_handler, selector: "#use_force_race_line"});

      // var lhandler = new LikelihoodStopsHandler({url: "{% url 'agency-api-stops-by-reason' object.pk %}"});
      // lstops = new LikelihoodOfStop({handler: lhandler, selector: "#lsb"}),

      // chr = new ContrabandHitRateBar({handler: lhandler, selector: "#chr"}),

    });
  </script>
{% endblock extra-js %}
