{% extends 'state.html' %}

{% load staticfiles %}

{% block state-name %}
  Maryland
{% endblock state-name %}

{% block state-subtitle %}
  Browse all known traffic stops to have occurred in Maryland since
  January 1, 2013
{% endblock state-subtitle %}

{% block state-header-graphic %}
  <img src="{% static "svg/noun_19618_cc-white.svg" %}" class="state md">
{% endblock state-header-graphic %}

{% block agency-intro %}
  <p class='nc-agency-intro'>
    Review agency-level data on the racial and ethnic demographics of people
    stopped, searched, and subjected to force in the course of traffic stops
    in a given jurisdiction.
  </p>

  <p class="nc-agency-intro">
    <a href="{% url "md:agency-list" %}">Click here</a> to browse a list of
    all agencies for which data is available.
  </p>
{% endblock agency-intro %}

{% block search-form %}
  <h4>View Agency Dashboard</h4>
  <form role="form" id="agency_search" action='{% url "md:home" %}' method="get" accept-charset="utf-8">
      <div class="form-group">
      {% csrf_token %}
      <div class="input-group">
        {{ agency_form.agency }}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">View</button>
        </span>
      </div><!-- /input-group -->
      {% if agency_form.agency.errors %}
          <div class="alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <ul>
              {% for error in agency_form.agency.errors %}
                  <li><strong>{{ error }}</strong></li>
              {% endfor %}
              </ul>
          </div>
      {% endif %}
      </div>
  </form>
{% endblock search-form %}

{% block agencies-table %}
  <table class='table table-condensed table-hover'>
    <tr>
      <th>City</th>
      <th class="text-right">Stops</th>
    </tr>
    <tr>
      <td><a href="{% url "md:agency-detail" "77" %}">Maryland State Police</a></td>
      <td class="text-right">639,959</td>
    </tr>
    <tr>
      <td><a href="{% url "md:agency-detail" "80" %}">Montgomery County Police Department</a></td>
      <td class="text-right">227,794</td>
    </tr>
    <tr>
      <td><a href="{% url "md:agency-detail" "10" %}">Baltimore County Police Department</a></td>
      <td class="text-right">216,167</td>
    </tr>
    <tr>
      <td><a href="{% url "md:agency-detail" "79" %}">Maryland Transportation Authority Police</a></td>
      <td class="text-right">179,554</td>
    </tr>
    <tr>
      <td><a href="{% url "md:agency-detail" "5" %}">Anne Arundel County Police Department</a></td>
      <td class="text-right">124,580</td>
    </tr>
  </table>
{% endblock agencies-table %}

{% block about-text %}
  <p>
      Open Data Policing aggregates, visualizes, and publishes public
      records related to all known traffic stops to have occurred in Maryland
      since January 1, 2013. Data is available for most
      Maryland departments and officers serving populations greater
      than <i>n</i>.
  </p>
  <p>
      Maryland law requires all such agencies to report their data
      on a monthly basis to the MD state government; however, some
      datasets are incomplete or remain unreported.  Where data sets are
      incomplete or missing from the website it is because they have not
      been reported to the state agency from which the site derives its
      records. Open Data Policing does not have access to, nor does it
      publish, the names of officers, drivers, or passengers involved in
      traffic stops.
  </p>
{% endblock about-text %}

{% block dataset-facts %}
  <table class='table table-condensed table-hover'>
    <tr>
      <th>Timeframe</th>
      <td>Jan 1 2013 - Dec 31, 2015</td>
    </tr>
    <tr>
      <th>Stops</th>
      <td>2,227,042</td>
    </tr>
    <tr>
      <th>Searches</th>
      <td>66,605</td>
    </tr>
    <tr>
      <th>Agencies</th>
      <td>127</td>
    </tr>
  </table>
{% endblock dataset-facts %}
