/* Table of Contents
 * -- Includes
 * -- Variables
 * -- Sitewide
 * -- Individual pages
 */

/* Includes
==================== */

@import "node_modules/bootstrap/less/bootstrap";
@import (reference) "node_modules/@caktus/flexless/flex.less";

/* Variables
==================== */

// http://paletton.com/palette.php?uid=13z0u0kllllaFw0g0qFqFg0w0aF
@brand-primary:    #133453;
@brand-secondary:  #728DA5;
@brand-tertiary:   #4A6B8A;
@brand-quaternary: #041F37;
@link-color:       @brand-tertiary;
@link-hover-color: darken(@link-color, 30%);
@border-radius-base: 2px;

@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: @brand-quaternary;
@navbar-inverse-bg: @brand-primary;
@navbar-inverse-border: @brand-primary;
@navbar-inverse-link-color: white;

/* Sitewide
==================== */

.odp-nav.navbar-inverse .navbar-nav > .active > a,
.odp-nav.navbar-inverse .navbar-nav > .active > a:hover,
.odp-nav.navbar-inverse .navbar-nav > li > a:hover{
  background-color: @brand-secondary;
}

h1, h2, h3, h4, h5 {
  color: @brand-primary;
}

.nav-tabs {
  margin-top: 1rem;

  > li {
    > a {
      > h2 {
        margin: 0;
      }

      &:hover {
        background-color: #e3e3e3;
      }
    }

    &.active {
      > a {
        background-color: transparent !important;
        border-bottom-color: #efefef !important;
      }
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Droid Sans', sans-serif;
}

body {
  position: relative;
}

/* Wrapper for page content to push down footer */
#wrap {
  background-color: #efefef;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 96px;
  background-color: #f5f5f5;
  z-index: 2;
}

#wrap > .container {
  padding: 15px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  p {
    text-align: center;
  }
}

code {
  font-size: 80%;
}

.navbar-fixed-top {
  border-bottom: 0;
}

.navbar-default {
  .navbar-brand {
    font-weight: bold;
  }
}

.odp-nav .navbar-nav > .active > a,
.odp-nav .navbar-nav > .active > a:hover,
.odp-nav .navbar-nav > li > a:hover {
  background-color: @gray-lighter;
}

.odp-nav .state-nav {
  a .name {
    text-align: center;
  }
}

.odp-nav .navbar-nav > li.state-nav > a {
  background-color: @gray-lighter;

  &:hover {

  }
}

/* Homepage
==================== */

.state-picker {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  background-color: @brand-primary;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

  h1 {
    color: white;
  }
  p.tagline {
    font-size: 20px;
    margin-bottom: 50px;
    color: @brand-secondary;
  }

  img.state {
    height: 16ex;
    margin-bottom: 10px;
  }
  p.stop-count {
    color: @brand-secondary;
  }
  .btn {
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: @brand-tertiary;
    padding: 12px 20px;
    border-width: 2px;
    font-size: 16px;

    &:hover {
      background-color: @brand-tertiary;
    }
  }
  @media (max-width: @screen-sm-min) {
    .btn.nc {
      margin-bottom: 40px;
    }
  }
  @media (min-width: @screen-sm-min) {
    h1.title{
      font-size: 60px;
    }
  }
}

.about-footer {
  padding-bottom: 10px;
  .links a {
    font-size: 16px;
  }
}

/* State homepage
========================================= */

.half-rule {
  width: 100px;
  margin: 20px auto;
}

.state-banner {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: left;
  background-color: @brand-primary;
  color: @brand-secondary;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

  .container {
    h1 {
      color: white;
      margin-top: 0;
      margin-bottom: 0;
    }
    @media (max-width: @screen-sm-min) {
      p {
        font-size: 18px;
      }
    }
  }
}

// http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
.vertical-align {
    display: flex;
    align-items: center;
}

.state-banner.small {
  @media (max-width: @screen-md-min) {
    h1 {
      font-size: 28px;
    }
  }
}

#sidebar {
  border-left: 2px solid @gray-light;
  padding-left: 15px;

  h5 {
    font-weight: bold;
    font-size: 16px;
  }
}

#sidebar.affix {
  top: 80px;
}

.state-featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("/static/img/press-conf-blue-80-cropped.jpg");
  background-position: center top;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

  blockquote {
    border-left: 0;
    font-size: 22px;
    footer {
      color: @brand-secondary;
    }
  }
  @media (max-width: @screen-sm-min) {
    blockquote {
      font-size: 18px;
    }
  }
}

p.nc-agency-intro {
  margin: 20px 0;
}

.agency-dashboard-block {
  margin-bottom: 30px;
}

body#state {
  #map {
    position: fixed;
    width: 100%;
    min-height: 100%;
    margin-top: -60px;
    z-index: 0;
    opacity: 0.2;
  }
  .ui-autocomplete {
    font-family: 'Droid Sans', sans-serif;
  }
  .homeInset {
    margin-left: 30px;
  }
  #quick-search {
    position: fixed;
    margin-top: 80px;
    width: 100%;
    z-index: 1;
    #agency_search {
      #id_agency_0 {
        font-size: 20px;
        height: 60px;
        font-family: 'Droid Sans', sans-serif;
        margin-bottom: 5px;
      }
    }
  }
  #elevator {
    font-size: 110%;
  }
}

/* Dashboard data tables
========================================= */

.dash-tables {
  table-layout: fixed;
}

.raceSelector {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 10px;
  padding: 3px;
  background-color: lightslategrey;
  color: white;
  .radio {
    margin: 0px;
  }
}

/* NVD3 style-overrides
========================================= */

.nvd3.nv-pie .nv-label text{
  fill: white !important;
  font-weight: bold;
}

.nvd3 .nv-axis line {
  stroke: #d1d1d1;
}

.nvd3 .nv-groups path.nv-line {
  stroke-width: 5px;
}

h3.donut-label {
  font-size: 16px;
}
