/* Table of Contents
 * -- Includes
 * -- Variables
 * -- Sitewide
 * -- Individual pages
 */

/* Includes
==================== */

@import "node_modules/bootstrap/less/bootstrap";

/* Variables
==================== */

// http://paletton.com/palette.php?uid=13z0u0kllllaFw0g0qFqFg0w0aF
@brand-primary:    #133453;
@brand-secondary:  #728DA5;
@brand-tertiary:   #4A6B8A;
@brand-quaternary: #041F37;
@link-color:       @brand-tertiary;
@link-hover-color: darken(@link-color, 30%);

@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: @brand-quaternary;

/* Sitewide
==================== */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Droid Sans', sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  background-color: #efefef;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  z-index: 2;
}

#wrap > .container {
  padding: 15px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  p {
    text-align: center;
  }
}

code {
  font-size: 80%;
}

.navbar-default {
  .navbar-brand {
    font-weight: bold;
  }
}

.odp-nav .navbar-nav > .active > a,
.odp-nav .navbar-nav > .active > a:hover,
.odp-nav .navbar-nav > li > a:hover{
  background-color: @gray-lighter;
}

/* Homepage
==================== */

.half-rule {
  width: 100px;
  margin: 20px auto;
}

.state-banner {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 24px;
  text-align: left;
  background-color: @brand-primary;
  color: @brand-secondary;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

  .container {
    position: relative;

    h1 {
      color: white;
    }
    .state {
      margin-top: 30px;
    }

    @media (max-width: @screen-sm-min) {
      p {
        font-size: 18px;
      }
    }
  }
}

.state-featurette {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("/static/img/press-conf-blue-80-cropped.jpg");
  background-position: center top;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);

  blockquote {
    border-left: 0;
    font-size: 22px;
    footer {
      color: @brand-secondary;
    }
  }
  @media (max-width: @screen-sm-min) {
    blockquote {
      font-size: 18px;
    }
  }
}

body#home {
  #map {
    position: fixed;
    width: 100%;
    min-height: 100%;
    margin-top: -60px;
    z-index: 0;
    opacity: 0.2;
  }
  .ui-autocomplete {
    font-family: 'Droid Sans', sans-serif;
  }
  .homeInset {
    margin-left: 30px;
  }
  #quick-search {
    position: fixed;
    margin-top: 80px;
    width: 100%;
    z-index: 1;
    #agency_search {
      #id_agency_0 {
        font-size: 20px;
        height: 60px;
        font-family: 'Droid Sans', sans-serif;
        margin-bottom: 5px;
      }
    }
  }
  #elevator {
    font-size: 110%;
  }
}


/* Dashboard data tables
========================================= */

.dash-tables {
  table-layout: fixed;
}

.raceSelector {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 10px;
  padding: 3px;
  background-color: lightslategrey;
  color: white;
  .radio {
    margin: 0px;
  }
}


/* NVD3 style-overrides
========================================= */

.nvd3.nv-pie .nv-label text{
  fill: white !important;
  font-weight: bold;
}

.nvd3 .nv-axis line {
  stroke: #d1d1d1;
}

.nvd3 .nv-groups path.nv-line {
  stroke-width: 5px;
}
